<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swust.mapper.DeclareStepMapper">
    <!-- 返回结果 -->
	<resultMap id="BaseResultMap" type="cn.edu.swust.entity.DeclareStep">
		<result column="connId" property="connId" jdbcType="INTEGER" />
		<result column="declareBusinessId" property="declareBusinessId" jdbcType="INTEGER" />
		<result column="stepId" property="stepId" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
	</resultMap>
	<!-- 查询字段集 -->
    <sql id="defualt_fields">
        <trim suffixOverrides=",">
        connId,
        declareBusinessId,
        stepId,
        status,
        </trim>
    </sql>
    <!-- 查询条件 -->
	<sql id="condition">
		<where>
			<if test="declareBusinessIds != null and declareBusinessIds.length>0">
				and declare_step.declareBusinessId in
				<foreach collection="declareBusinessId" item="item" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="declareBusinessId != 0"> and declareBusinessId=#{declareBusinessId} </if>
		</where>
	</sql>
	<!-- orderby sql-->
    <sql id="orderby">
    </sql>
    <!-- 分页 sql-->
    <sql id="page">
    </sql>
    <!-- 删除 -->
    <delete id="delete" parameterType="cn.edu.swust.query.DeclareStepQuery">
    	delete from declare_step
    	<include refid="condition"></include>
    </delete>
    
    <insert id="insertOneSelective" parameterType="cn.edu.swust.entity.DeclareStep">
    	insert into declare_step
    	<trim prefix="(" suffix=")" suffixOverrides=",">
    		<if test="declareBusinessId != 0"> declareBusinessId, </if>
    		<if test="stepId != 0"> stepId , </if>
    		<if test="status != 0"> status,</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
   			<if test="declareBusinessId != 0"> #{declareBusinessId}, </if>
    		<if test="stepId != 0"> #{stepId} , </if>
    		<if test="status != 0"> #{status} , </if>
    	</trim>
    </insert>
    
    <insert id="insertBatch" parameterType="java.util.List">
    	insert into declare_step(declareBusinessId,stepId,status) values
    	<foreach collection="list" item="item" index="index" separator=",">
    		(#{item.declareBusinessId},#{item.stepId},#{item.status})
    	</foreach>
    </insert>
    
    <select id="setPrimaryValue" parameterType="java.lang.Integer">
    	alter table declare_step  AUTO_INCREMENT=#{num}; 
    </select>
    
</mapper>