<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swust.mapper.RolePermissionMapper">
    <!-- 返回结果 -->
	<resultMap id="BaseResultMap" type="cn.edu.swust.entity.RolePermission">
		<result column="connId" property="connId" jdbcType="INTEGER" />
		<result column="roleId" property="roleId" jdbcType="INTEGER" />
		<result column="permissionId" property="permissionId" jdbcType="INTEGER" />
	</resultMap>
	<!-- 查询字段集 -->
    <sql id="defualt_fields">
        <trim suffixOverrides=",">
        connId,
        roleId,
        permissionId,
        </trim>
    </sql>
    <!-- 查询条件 -->
	<sql id="condition">
		<where>
			<if test="roleId != 0"> and roleId = #{roleId} </if>
			<if test="permissionId != 0"> and permissionId = #{permissionId} </if>
		</where>
	</sql>
	<!-- orderby sql-->
    <sql id="orderby">
    </sql>
    <!-- 分页 sql-->
    <sql id="page">
    </sql>
    
    <select id="setPrimaryValue" parameterType="int">
        alter table role_permission   AUTO_INCREMENT=#{num};
    </select>

	<!-- 查最大主键ID -->
	<select id="getMaxId" resultType="java.lang.Integer">
		select max(connId) from role_permission 
	</select>
	
	<!-- 选择性插入 单条 -->
	<insert id="insertOne" parameterType="cn.edu.swust.entity.RolePermission">
		insert into role_permission
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="connId != null and connId != 0 " >connId,</if>
      		<if test="roleId != null and roleId!=0" >roleId,</if>
			<if test="permissionId != null and permissionId != 0"> permissionId,</if>
   		</trim>
   		<trim prefix="values (" suffix=")" suffixOverrides="," >
   			<if test="connId != null and connId != 0 " >#{connId},</if>
      		<if test="roleId != null and roleId!=0" >#{roleId},</if>
			<if test="permissionId != null and permissionId != 0"> #{permissionId},</if>
    	</trim>
	</insert>
	
	<delete id="delete" parameterType="cn.edu.swust.query.RolePermissionQuery">
		delete from role_permission
		<include refid="condition"></include>
	</delete>
	
	<select id="queryList" parameterType="cn.edu.swust.query.RolePermissionQuery" resultMap="BaseResultMap">
		select 
		<include refid="defualt_fields"></include>
		from role_permission
		<include refid="condition"></include>
	</select>
	
    
</mapper>