<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swust.mapper.RoleMapper">
    <!-- 返回结果 -->
	<resultMap id="BaseResultMap" type="cn.edu.swust.entity.Role">
		<result column="roleId" property="roleId" jdbcType="INTEGER" />
		<result column="rolename" property="roleName" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="createUId" property="createUId" jdbcType="VARCHAR" />
		<result column="roleDesc" property="roleDesc" jdbcType="VARCHAR" />
		<result column="editable" property="editable" jdbcType="INTEGER" />
		<result column="isEnable" property="isEnable" jdbcType="INTEGER" />
	</resultMap>
	<!-- 查询字段集 -->
    <sql id="defualt_fields">
        <trim suffixOverrides=",">
        roleId,
        rolename,
        createTime,
        updateTime,
        createUId,
        roleDesc,
        editable,
        isEnable,
        </trim>
    </sql>
    <!-- 查询条件 -->
	<sql id="condition">
		<where>
			<if test="roleIds != null and roleIds.length > 0">
                role.roleId in
                <foreach collection="roleIds" item="item" open="("
                         separator="," close=")">
                #{item}
                </foreach>
            </if>
			<if test="roleId != null and roleId != 0"> and role.roleId = #{roleId} </if>
			<if test="roleName != null"> and role.rolename liek concat('%,#{roleName}','%') </if>
		</where>
	</sql>
	<!-- orderby sql-->
    <sql id="orderby">
    </sql>
    <!-- 分页 sql-->
    <sql id="page">
    </sql>
    
    <!-- 查询语句 -->
	<select id="queryList" resultMap="BaseResultMap" parameterType="cn.edu.swust.query.UserQuery">
		select
		<include refid="defualt_fields" />
		from role
		<include refid="condition" />
		<include refid="orderby" />
	</select>
	<!--角色下的所有权限 -->
	<select id="queryPmsList"  parameterType="cn.edu.swust.query.RoleQuery">
		select distinct permission.* from( role join role_permission on role.roleId =
		role_permission.roleId join permission on permission.permissionId =
		role_permission.permissionId )
		<include refid="condition"></include>
	</select>

	<!-- 查最大主键ID -->
	<select id="getMaxRoleId" resultType="java.lang.Integer">
		select max(roleID) from role 
	</select>
	
	<!-- 设置主键自增值 -->
	<select id="setPrimaryValue" parameterType="int">
        alter table role  AUTO_INCREMENT=#{num};
    </select>
	<!-- 选择性插入 单条 -->
	<insert id="insertOne" parameterType="cn.edu.swust.entity.Role">
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="roleId != null and roleId != 0 " >roleId,</if>
      		<if test="roleName != null" >rolename,</if>
			<if test="createTime != null"> createTime,</if>
			<if test="updateTime != null"> updateTime,</if>
			<if test="createUId != null"> createUId,</if>
			<if test="roleDesc != null"> roleDesc,</if>
			<if test="editable != null"> editable,</if>
			<if test="isEnable != null"> isEnabel,</if>
   		</trim>
   		<trim prefix="values (" suffix=")" suffixOverrides="," >
   			<if test="roleId != null and roleId != 0 " >#{roleId},</if>
			<if test="roleName != null" >#{roleName},</if>
			<if test="createTime != null"> #{createTime},</if>
			<if test="updateTime != null"> #{updateTime},</if>
			<if test="createUId != null"> #{createUId},</if>
			<if test="roleDesc != null"> #{roleDesc},</if>
			<if test="editable != null"> #{editable},</if>
			<if test="isEnable != null"> #{isEnabel},</if>
    	</trim>
	</insert>

<!-- 	<delete id="delete" parameterType="cn.edu.swust.query.RoleQuery">
		delete from role
		<include refid="condition" />
	</delete> -->
	<!--删除角色  -->
	<update id="delete" parameterType="cn.edu.swust.query.RoleQuery">
    	update role set isEnable = 0,updateTime=#{updateTime}
    	<where>
    		<if test="roleIds != null and roleIds.length > 0">
                role.roleId in
                <foreach collection="roleIds" item="item" open="(" separator=","
                 close=")">
                    #{item}
                </foreach>
            </if>
			<if test="roleId != null and roleId != 0"> and role.roleId = #{roleId} </if>
    	</where>
    </update>
  
	<update id="updateByPrimaryKeySelective" parameterType="cn.edu.swust.entity.Role">
		update role
		<set>
			<if test="roleName != null"> rolename = #{roleName,jdbcType=VARCHAR},
			</if>
			<if test="roleDesc != null"> roleDesc = #{roleDesc,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null"> updateTime = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="editable != null"> editable = #{editable},</if>
			<if test="isEnable != null"> isEnabel = #{isEnabel},</if>
		</set>
		where roleId = #{roleId,jdbcType=INTEGER}
	</update>
    
</mapper>