<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.swust.mapper.UserRoleMapper">
    <!-- 返回结果 -->
	<resultMap id="BaseResultMap" type="cn.edu.swust.entity.UserRole">
		<result column="connId" property="connId" jdbcType="INTEGER" />
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="roleId" property="roleId" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 查询字段集 -->
    <sql id="defualt_fields">
        <trim suffixOverrides=",">
        connId,
        userId,
        roleId,
        </trim>
    </sql>
    <!-- 查询条件 -->
	<sql id="condition">
		<where>
			<if test="userId != null"> and userId = #{userId}</if>
			<if test="roleId != null and roleId != 0 "> and roleId=#{roleId}</if>
		</where>
	</sql>
	<!-- orderby sql-->
    <sql id="orderby">
    </sql>
    <!-- 分页 sql-->
    <sql id="page">
    </sql>
    
    <!-- 查询语句 -->
 
	<select id="query" resultMap="BaseResultMap" parameterType="cn.edu.swust.query.UserRoleQuery">
		select
		<include refid="defualt_fields" />
		from user_role
		<include refid="condition" />
		<include refid="orderby" />
	</select>
	<!-- 查询用户ids -->
	<select id="getUserIds" parameterType="cn.edu.swust.query.UserRoleQuery" resultType="java.lang.String">
		select user_role.userId from user_role
		<include refid="condition"></include>
	</select>
	
	<insert id="insert" parameterType="cn.edu.swust.entity.UserRole">
	   insert into user_role (userId,roleId)
	   values(#{userId},#{roleId})
	</insert>
	
	<delete id="delete" parameterType="cn.edu.swust.query.UserRoleQuery">
		delete  from user_role
		<include refid="condition"></include>
	</delete>
    
</mapper>